
.box-form{
    display: block;
    background-color: #EE82EE;
    width: 100%;
    margin-bottom: 45px;
  }
 
 .search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EE82EE;
    opacity: 0.85;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(223, 64, 90, 0.2);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
.input-search {
  height: 42px;
  width: 400px;
  border: 2px solid rgb(172, 38, 127);
  border-radius: 5px;
}
  .load-more {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFC0CB;
    color:#FFFAFA;
    margin-bottom: 20px;
  }

.is-hidden {
    display: none;
}

  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
  .gallery__link {
    display: block;
    text-decoration: none;
    height: 100%;
  }
  
  .gallery__link:hover {
    cursor: pointer;
  }

  .gallery__photo-card {
    margin-bottom: 60px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    
      /* display: flex;
      flex-wrap: wrap; */
      
    }
.search-button {
      cursor: pointer;
      margin-left: 15px;
    }

  .info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    border: #0e0c0c;

  }
.gallery__card {
  border: #0e0c0c;
  width: 400px;
  margin: 10px;
  display: flex;
  flex-direction: column-reverse;

}
 .info-item {
    text-align: center;
    font-size: 14px;
    color: #BC8F8F;
  }
  
  .gallery__photo-card:hover {
    transform: scale(1.01);
  }
  
  .photo-card__image {
    height: 100%;
    width: 100%;

  }
  


